<!--Cart-->



  <div class="cart" style="display: flex;">
    <div class="cart-content">
      <!--cart item-->
      <div class="cart-item">
        <img  src="" class="product-img" alt="item">
        <div>
          <h4></h4>
          <h4 style="padding-top: 15px;">
            <span class="discPrice ml-4"></span>
          </h4>
        </div>
        <div class="counter mx-auto my-auto">
          <i class="fa fa-plus mt-4" aria-hidden="true" ></i>
          <p class="item-amount mt-4"></p>
          <i class="fa fa-minus mt-4" aria-hidden="true" (></i>
        </div>
        <span class="remove-item" class="makebold" style="cursor:pointer"  >Remove</span>
      </div>
      <!--End cart item-->
    </div>
</div>
