li{
    font-size: 1.5em;
}
.burger h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-radius: 2em;
    width:10em ;
    background-color:#EB4E3D;
    color: white;
    margin-left:30em;
}


.info{
    /* border: solid black 2px; */
    width: 40em;
    height:30em ;
    /* justify-content: center; */
    /* text-align: center; */
    padding:2em ;
    align-items: center;
    margin-left: 2em;
     background-color: #EB4E3D;
   
    color: white;
    border-radius: 2em;

    margin-bottom: 2em;
   


}
.containerdetails{
  /* border: 2px solid black; */

  width: 80em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 20em;


}
.ajouter input{
    background-color: white;
    color: black;
    width: 8em;
}
.cardb{
   
    background-color: #EB4E3D;
    height:25rem ;
    width: 60rem;
    justify-content: center;
    margin-left:28rem;
    margin-bottom: 2rem;
    
}
.cardb img{
    height: 4rem;
    width: 4rem;
    margin: 2rem;
}