.titreb{
    
    background-color: #EB4E3D;
    height:30%;
    width:20% ;
    margin-left:40% ;
    margin-bottom:2rem ;
    border-radius:2em ;
    
}
h3{
    justify-content: center;
    text-align: center;
    color: white;

}