
                <div class="header">

                    <div class="fondheader">
                        <div class="logo">

                        </div>

                    </div>
                    <ul class="navbar">
                
                       <a href=" client/home">  <button  >Acceuil</button> </a>
                        <button>hamburgers</button>
                        <button>Menuburgers</button>

                        <button>Recherche</button>
                        <button>Mon Compte</button>


                    </ul>
           
               </div>