
                <div class="header">

                    <div class="fondheader">
                        <div class="logo">

                        </div>

                    </div>
                    <ul class="navbar">
                
                       <a > <button routerLink="/client/home" >Acceuil</button> </a>
                       <a > 
                        <button >hamburgers</button>

                       </a>
                        <button>Menuburgers</button>

                        <button>Recherche</button>
                        <button>Mon Compte</button>


                    </ul>
           
               </div>